/* map.module.css */
.mapContainer {
  height: 580px;
  width: 100%;
  max-width: 100%;
  position: relative; /* To position elements like the button on top of the map */
}

.mapWrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

.buttonGetLoc {
  position: absolute;
  bottom: 20px; /* Distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000; /* Ensures button stays on top */
}

.bubuttonGetLoctton:hover {
  background-color: #005f6b;
}

/* Responsive design: Adjust map size on smaller screens */
@media (max-width: 768px) {
  .mapContainer {
      height: 400px; /* Adjust height for small screens */
  }
}

@media (min-width: 1024px) {
  .mapContainer {
      height: 700px; /* Increase height for larger screens */
  }
}
