@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700);

body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  padding: 2rem;
}

.menu {
    background: #3e92d3;
    height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 0.7s ease-in-out;
    visibility: hidden;
    width: 100%;
    z-index: 1100;
  }
  
  .menu.open {
    opacity: 1;
    visibility: visible;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Added flexbox */
    flex-direction: column; /* Stack links vertically */
  }
  
  .menu a {
    -webkit-transform: translateZ(0);
    transition: opacity 0.3s ease-in-out;
    padding: 1rem; /* Added padding to space out the links */
  }
  
  .menu a:hover {
    opacity: 1;
  }
  
  .mainNav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .mainNav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Keeping horizontal layout for main navigation */
  }
  
  .mainNav a {
    color: #fff;
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .toggleMenu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    float: right;
    height: 50px;
    outline: none;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: 50px;
    z-index: 1110;
  }
  
  .toggleMenu span {
    background-color: #000000;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 26px;
  }
  
  .toggleMenu span:before, .toggleMenu span:after {
    background-color: #000000;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    transform-origin: 50% 50%;
    transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out, transform 0.2s linear;
    width: 26px;
  }
  
  .toggleMenu span:before {
    top: 7px;
  }
  
  .toggleMenu span:after {
    top: -7px;
  }
  
  .toggleMenu.active span {
    background-color: transparent;
  }
  
  .toggleMenu.active span:before {
    top: 0;
    transform: rotate3d(0, 0, 1, -45deg);
  }
  
  .toggleMenu.active span:after {
    top: 0;
    transform: rotate3d(0, 0, 1, 45deg);
  }
  